.card-ranking{
    display: grid;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    width: 80%;
    max-width: 400px;
    align-items: center;
    border-radius: 2px;
}
.container h1 {
  font-size: 32px;
}
.container p {
  font-size: 18px;
  line-height: 1.5;
  width: 90%;
  max-width: 1200px;
}
